---
layout: page
type: article
---

{%- include snippets/assign.html
  target = site.data.variables.default.page.sharing
  source0=layout.sharing source1=page.sharing -%}
{%- assign _sharing = __return -%}

<div class="layout--article">
  {%- include article/top/custom.html -%}

  <div class="article__content" itemprop="articleBody">{{ content }}</div>

  <script src="https://utteranc.es/client.js"
        repo="https://github.com/thogiti/thogiti.github.io"
        issue-term="url"
        theme="github-light"
        crossorigin="anonymous"
        async>
  </script>

<script src="https://giscus.app/client.js"
        data-repo="thogiti/thogiti.github.io"
        data-repo-id="R_kgDOKhxeww"
        data-category-id="DIC_kwDOKhxew84CfsdJ"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>

  {%- if _sharing -%}
    <section class="article__sharing d-print-none">{%- include sharing.html -%}</section>
  {%- endif -%}

  <div class="d-print-none">
    {%- include article-footer.html -%}
    {%- include article-section-navigator.html -%}
  </div>

</div>

<script>
  {%- include scripts/article.js -%}
</script>

